/*  Quant BSPWM - Rofi Window Switcher  */

@import "quant-launcher.rasi"

configuration {
    modi:                   "window";
    show-icons:             true;
    display-window:         "  Windows";
    window-format:          "{w}  {c}   {t}";
}

window {
    width:          700px;
}

listview {
    lines:          6;
}
